body {
    background-color:#011B24;
    font-style: 'Nunito Sans', sans-serif;
}

.carousel-caption d-md-block{
    font-size: 36px;    
    width: 200px;
}

/* metodo para trabajar por separado el resposive (celular) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){

    .bg-overlay {
        background:url("../img/RecursoMarca.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: #fff;
        height: 570px;
        padding-top: 50px;
    }

    .bg-cont3 {
        background:url("../img/RecursoMarca.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: #fff;
        height: 2300px;
        padding-top: 20px;
    }

}

/* metodo para trabajar por separado el resposive (web) */

@media only screen and (min-device-width : 768px) and (max-device-width : 1824px)  {
    .bg-overlay {
        background:url("../img/RecursoMarca.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: #fff;
        height: 300px;
        padding-top: 50px;
    }

    .bg-cont3 {
        background:url("../img/RecursoMarca.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: #fff;
        height: 750px;
        padding-top: 50px;
    }

}




